<p><a href="/">Home</a></p>

<h1><%= @team.name %> Drivers</h1><br>
<p>
<%= form_with url: "#{request.url}", method: :get, local: true do |form| %>
  <%= link_to 'Create Driver', "/teams/#{@team.id}/drivers/new" %>
  <%= link_to 'Sort by Name', "/teams/#{@team.id}/drivers?sort=name" %> 
  Filter by Minimum Wins:
  <%= form.number_field :wins %>
  <%= form.submit "filter"%>
<% end %>
</p>

<% @drivers.each do |driver| %>
  <h2><a href="/drivers/<%= driver.id %>"><%= driver.name %></a></h2>
  <p>
  <b>ID:</b> <%= driver.id %> <b>
  - Team:</b> <%= driver.team.name %> <b>
  - Created At:</b> <%= driver.created_at %> <b>
  - Updated At:</b> <%= driver.updated_at %> <b>
  - Has a Superlicense?</b> <%= driver.superlicense %> <b>
  - Previously Raced In:</b> <%= driver.previous_series %> <b>
  - Races Won In Series:</b> <%= driver.race_wins_in_series %>
  </p>
<% end %>
