<a href="/teams">Teams Index</a>

<h1><%= @team.name %></h1>
<p><b>ID:</b> <%= @team.id %> <b>
- Created At:</b> <%= @team.created_at %> <b>
- Updated At:</b> <%= @team.updated_at %> <b>
- Has Won a Championship?</b> <%= @team.champion %> <b>
- Number of Race Wins:</b> <%= @team.race_wins %>
</p>
<p>Number of Drivers: <%= @team.driver_count %></p>
</br>
<a href="/teams/<%= @team.id %>/drivers">Drivers</a>
