<h1>Edit Driver</h1>

<%= form_with url: "/drivers/#{@driver.id}", method: :patch, local: true do |form| %>
  <%= form.label 'Name:' %>
  <%= form.text_field :name, value: "#{@driver.name}" %> <br>
  <%= form.label 'Has a Superlicense?' %>
  <%= form.check_box :superlicense, checked: @driver.superlicense %> <br>
  <%= form.label 'Previous Series:' %>
  <%= form.select :previous_series, [ 'F1', 'F2', 'F3', 'W Series', 'GT', 'WEC', 'WRC' ], :prompt => 'Select One', selected: @driver.previous_series %> 
  <%= form.label 'Race Wins in Formula 1:' %>
  <%= form.number_field :race_wins_in_series, value: @driver.race_wins_in_series %> <br>
  <%= form.submit %>
<% end %>