<a href="/drivers">Drivers Index</a>

<h1><%= @driver.name %></h1>
<p>
<b>ID:</b> <%= @driver.id %> <b>
- Team ID:</b> <%= @driver.team_id %> <b>
- Created At:</b> <%= @driver.created_at %> <b>
- Updated At:</b> <%= @driver.updated_at %> <b>
- Has a Superlicense?</b> <%= @driver.superlicense %> <b>
- Previously Raced In:</b> <%= @driver.previous_series %> <b>
- Races Won In Series:</b> <%= @driver.race_wins_in_series %>
</p>